<!--<h1>Public::Customers#show</h1>-->
<!--<p>Find me in app/views/public/customers/show.html.erb</p>-->

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h5>マイページ</h5>


      <div style="line-height: 4em">
        <b>登録情報</b>
        <%= link_to '編集する', edit_customer_registration_path(@customer), class: "btn btn-sm btn-success" %>
      </div>

      <table border="1" style="border-collapse: collapse">
        <tbody>
          <!--氏名-->
          <tr>
            <th>氏名</th>
            <td><%= @customer.last_name %>　<%= @customer.first_name %></td>
          </tr>
          <!--カナ-->
          <tr>
            <th>カナ</th>
            <td><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></td>
          </tr>
          <!--郵便番号-->
          <tr>
            <th>郵便番号</th>
            <td><%= @customer.postal_code %></td>
          </tr>
          <!--住所-->
          <tr>
            <th>住所</th>
            <td><%= @customer.address %></td>
          </tr>
          <!--電話番号-->
          <tr>
            <th>電話番号</th>
            <td><%= @customer.telephone_number %></td>
          </tr>
          <!--メールアドレス-->
          <tr>
            <th>メールアドレス</th>
            <td><%= @customer.email %></td>
          </tr>
        </tbody>
      </table>

      <div style="line-height: 3em">
        <b>配送先</b>
        <%= link_to "一覧を見る", addresses_path(@customer), class: "btn btn-sm btn-primary" %><br>
        <b>注文履歴</b>
        <%= link_to "一覧を見る", orders_path(@customer), class: "btn btn-sm btn-primary" %>
      </div>
    </div>
  </div>
</div>
