<!--<h1>Public::ShippingAddresses#index</h1>-->
<!--<p>Find me in app/views/public/shipping_addresses/index.html.erb</p>-->

<div class="container px-5 px-sm-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <h3>配送先登録 / 一覧</h3>

        <table>
          <%= form_with model: @address, url: addresses_path do |f| %>
            <tr>
              <td><%= f.label :postal_code, "郵便番号(ハイフンなし)" %></td>
              <td><%= f.number_field :postal_code %></td>
            </tr>

            <tr>
              <td><%= f.label "住所" %></td>
              <td><%= f.text_field :address %></td>
            </tr>

            <tr>
              <td><%= f.label "宛名" %></td>
              <td><%= f.text_field :name %></td>
              <td><%= f.submit "新規登録", class: "btn btn-sm btn-success" %></td>
            </tr>
          <% end %>
        </table>

        <table>
          <thead>
            <tr>
              <th>郵便番号</th>
              <th>住所</th>
              <th>宛名</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @addresses.each do |address| %>
              <tr>
                <td><%= address.postal_code %></td>
                <td><%= address.address %></td>
                <td><%= address.name %></td>
                <td>
                  <%= link_to '編集する', edit_address_path(current_customer.id), class: "btn btn-sm btn-success" %>
                  <%= link_to '削除する', address_path(current_customer.id), method: :delete, data: {confirm: "本当に消しますか？"}, class: "btn btn-sm btn-danger" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>