<!DOCTYPE html>
<html>
  <head>
    <title>nagano_cake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/"><span>LOGO</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if customer_signed_in? %>
              <!--マイページ-->
              <li>
                <%= link_to my_page_path, class: 'nav-link text-light' do %>
                マイページ
                <% end %>
              </li>
              <!--商品一覧-->
              <li>
                <%= link_to items_path, class: 'nav-link text-light' do %>
                商品一覧
                <% end %>
              </li>
              <!--カート-->
              <li>
                <%= link_to cart_items_path, class: 'nav-link text-light' do %>
                カート
                <% end %>
              </li>
              <!--ログアウト-->
              <li>
                <%= link_to destroy_customer_session_path, class: 'nav-link text-light', method: :delete do %>
                ログアウト
                <% end %>
              </li>
            <% elsif admin_signed_in? %>
              <!--商品一覧-->
              <li>
                <%= link_to admin_items_path, class: 'nav-link text-light' do %>
                商品一覧
                <% end %>
              </li>
              <!--会員一覧-->
              <li>
                <%= link_to admin_customers_path, class: 'nav-link text-light' do %>
                会員一覧
                <% end %>
              </li>
              <!--注文履歴一覧-->
              <li>
                <%= link_to admin_root_path, class: 'nav-link text-light' do %>
                注文履歴一覧
                <% end %>
              </li>
              <!--ジャンル一覧-->
              <li>
                <%= link_to admin_genres_path, class: 'nav-link text-light' do %>
                ジャンル一覧
                <% end %>
              </li>
              <!--ログアウト-->
              <li>
                <%= link_to destroy_admin_session_path, class: 'nav-link text-light', method: :delete do %>
                ログアウト
                <% end %>
              </li>
            <% else %>
              <!--About-->
              <li>
                <%= link_to about_path, class: 'nav-link text-light' do %>
                About
                <% end %>
              </li>
              <!--商品一覧-->
              <li>
                <%= link_to items_path, class: 'nav-link text-light' do %>
                商品一覧
                <% end %>
              </li>
              <!--新規登録-->
              <li>
                <%= link_to new_customer_registration_path, class: 'nav-link text-light' do %>
                新規登録
                <% end %>
              </li>
              <!--ログイン-->
              <li>
                <%= link_to new_customer_session_path, class: 'nav-link text-light' do %>
                ログイン
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>


      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
    </footer>
  </body>
</html>
